a {
  text-decoration: none;
}
a:visited {
  color: blue;
}

img {
  width: 100px;
  height: 150px;
}

body {
  background-color: pink;
  font-family: Nunito, sans-serif;
  padding-left: 3rem;
}

nav {
  padding: 1rem;
  font-size: 1rem;
  text-align: end;
}

.imgdisplay {
  display:flex;
  padding-top: 1rem;
}

.bookdisplay {
  display:flex; 
  flex-direction: column; 
  padding-left: 2rem;
}